/* @import url("https://fonts.cdnfonts.com/css/segoe-ui-4"); */

.App {
  text-align: center;
  /* font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI Symbol",
    -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Scrollbar */
.scrollable-city-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollable-city-list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 60px;
}

.scrollable-city-list::-webkit-scrollbar-thumb {
  background-color: rgba(209, 218, 231, 0.6);
  border-radius: 60px;
}

.scrollable-city-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(209, 218, 231, 0.9);
}

.scrollable-city-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(209, 218, 231, 0.6) transparent;
}

/* .stats-card:hover {
  background: #4cd1bb !important;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  font-weight: 800;
} */

.stats-card {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.city-card {
  background: #fff;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 10px;
  border: 0.5px solid rgba(146, 160, 179, 0.5);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.city-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* hidden by default */
.city-hover-card {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.25s ease;
}

/* show on hover */
.city-card:hover .city-hover-card {
  max-height: 120px;
  opacity: 1;
  margin-top: 10px;
}

.hover-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 4px;
}

.hover-address {
  font-size: 13px;
  color: #5f6b7a;
}

.hover-popup {
  position: fixed;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  pointer-events: none;
}

/* BLENDED ARROW */
.hover-popup::after {
  content: "";
  position: absolute;
  top: 22px; /* aligns with city name */
  right: -10px;
  width: 14px;
  height: 28px;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 1)
  );

  clip-path: polygon(0 0, 100% 50%, 0 100%);

  filter: drop-shadow(2px 0 3px rgba(0, 0, 0, 0.12));
}
